doctype html
html
    head
        meta(charset='utf-8')
        title 葉の小さい花の仕事部屋
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='./javascripts/jquery-3.2.1.min.js')
        script(src='./javascripts/index01.js')
        link(rel='icon', href='/images/icon01.png')
    body
        .wrap
            header.header
               .header_left
                   img(src='./images/个人logo03.PNG')
               .world
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart

               .header_right
                    .number
                       img(src='./images/number.PNG')
                    ul
                         a(href='#')
                           li Home
                         a(href='personal_blog')
                           li personal_blog
                         a(href='news')
                           li news
                         a(href='resume')
                           li  resume
                         a(href='myblog')
                           li  first_html
                         a(href='register')
                           li  register
                         a(href='login')
                           li  login

            .banner
                .banner_wrap
                     ul(class='banner_img clear_fix')
                        li.img
                            img(src='./images/背景图2.jpg')
                        li.img
                            img(src='./images/背景图3.jpg')
                        li.img
                            img(src='./images/背景图4.jpg')
                        li.img
                            img(src='./images/背景图6.jpg')
                     .left_button
                         img(src='images/左箭头.jpg')
                     .right_button
                         img(src='images/右箭头.jpg')

            .content
                .content_one
                    img(src='images/图标/1.png')
                    img(src='images/图标/3.png')
                    img(src='images/图标/5.png')
                    img(src='images/图标/7.png')
                    img(src='images/图标/9.png')
                    img.white_img(src='images/图标/2.png')
                    img.white_img(src='images/图标/4.png')
                    img.white_img(src='images/图标/6.png')
                    img.white_img(src='images/图标/8.png')
                    img.white_img(src='images/图标/10.png')
                .content_two
                    .content_header
                        img.logo('images/个人logo 02.PNG')
                        div
                            span 炊烟起了，我在门口等你
                            span 你经过我身旁，像鹿穿过花岗，风吹开一支扶桑，春意那么凉
                        div
                            span 沈从文说,我行过许多地方的桥，看过许多次数的云，喝过许多种类的酒，却只爱过一个正当最好年龄的人。
                            span 原来，最美年华里的邂逅，是情不知所起一往而深的最好注解与描摹
                    .mid
                        img(src='images/日本4.jpg')
                        img(src='images/日本2.jpg')
                        img(src='images/日本5.jpg')
                        img(src='images/日本2.jpg')
                        img(src='images/日本4.jpg')
                        img.bottom_img(src='images/日本2.jpg')
                        img.bottom_img(src='images/日本5.jpg')
                        img.bottom_img(src='images/日本4.jpg')
                        img.bottom_img(src='images/日本5.jpg')
                        img.bottom_img(src='images/日本2.jpg')
                    .english_passage
                        p Beep! Beep! Beep! I rolled over and turned off my alarm clock.
                        p “嘀！嘀！嘀！”我翻了个身，关掉了闹钟。
                        p    It was still dark outside so I felt my way to the wall switch and turned on the light.
                        p    外面还一片漆黑，我摸索着穿过房间，找到墙上的开关，打开电灯。
                        p    I got dressed quickly because I knew both of my dogs would be eager to get outside for their morning walk.
                        p    我快速穿好衣服，我知道我的两条狗都急不可耐地想要出门去晨练了。
                        p     I reached over to grab a coat and stopped.
                        p    我伸手去拿外套，然后楞了一下。
                        p    It was technically still Fall but the weather here in the Appalachian mountains of my home didn't follow a calendar.
                        p    按道理来说，现在还是晚秋，可是我的家在阿拉巴契亚山脚下，气候与时令迥异。
                        p    It had been cold and snowy two days ago and warm and rainy yesterday.
                        p    两天前还雪花飘飘，严寒刺骨。昨天又小雨淅淅，温暖如春。
                        p    I had forgotten to check the weather report for today, however, so I wasn't sure if I needed my light jacket or my heavy coat.
                        p    昨天我忘了查今天的天气情况了，我考虑了一下，是应该选择轻便的夹克衫还是厚外套。
                        p    I decided on my light jacket, pulled it on, and leashed up my bigger dog, Fluffy to walk first.
                        p    我决定穿夹克衫。我拉好拉链，我决定先带我的大狗Fluffy出去溜一圈，给它拴上了绳子。
                        p        I opened the door and stepped outside. Instantly I knew I had made the wrong choice.
                        p    我打开门，走到门外。很快我就明白自己做出了错误的选择。
                        p    Each breath I exhaled was a frozen mist. The wind chill was bitter cold.
                        p    我呼吸的每一口空气都充满冻结的水汽。寒风像刀子一样刮着我的脸。
                        p    The grass was covered in frost and I tied to keep my balance while Fluffy dragged me along behind him.
                        p    草地上结着一层冰霜。Fluffy拖着我向前走，我不得不努力保持平衡，才不至于摔倒。
                        p        I shivered and grumbled for a bit but finally I turned my head up to the sky.
                        p    我打了个哆嗦，忍不住抱怨了几句。但最后，我仰起头看向天空。
                        p    I looked up at the pre-dawn sky and saw it was full of twinkling stars.
                        p    我抬头看着黎明前的天空，看到满天星辰。
                        p        The man in the moon was smiling down on me too.
                        p        月中吴刚似在对我微笑。
                        p        It was so beautiful and so peaceful. Suddenly, I felt a warmth inside of me and stopped shivering.
                        p        此情此景，如此美好，如此安详。我感到身体里面升起一股暖意，身体不再瑟瑟发抖。
                        p        While my dog sniffed the ground I opened my heart to the wonder of Nature's creation.
                        p        我的狗嗅着地面上的气味，我敞开心扉，为大自然创造的这般奇迹心存感恩。
                        p        In all of its sweet seasons it had never failed to touch my soul.
                        p        一年四季，各有魅力。无论哪一季，都会触动我的心灵深处。
                        p        It had heated my heart on the coldest days and lighted my spirit on the darkest nights.
                        p        在最严寒的冬天，自然的魅力会温暖我的心，在最深的黑夜里，它也会鼓舞我的心绪。
                        p        I stood there awhile in nature's palace. Then I thanked Nature for the love that created the moon, the stars, and me.
                        p        我站在那里，仰望着这自然的琼楼玉宇。我对自然心存感恩，感谢宇宙自然对万物的爱，感谢它创造了这一轮明月，这一夜星空，还有我这个卑微之人。
                        p        Our lives here are full of sweet seasons as well.
                        p        我们的生活中也有四季变迁。
                        p        From the innocence and youth of Spring to the wisdom and wrinkles of Winter we are all called to live, to give, to grow and to love. Enjoy all your sweet seasons then.
                        p        幼年如春，纯朴无暇，生机勃勃；暮年如冬，形骸枯朽、了知天命。我们都受到自然的趋势，去生活，去给予，去成长，去爱。去馨享你的一生四季吧！
                        p        Make each day of them a creation of your love.
                        p        让一生四季中的每一天，都盛满你的爱吧！

            .foot
               .footer_wrap
                   div
                       img(src='images/二维码.jpg')
                       .footer_text
                            p 江西农业大学
                            p 软件学院
                            p copyright @
                            p 2019-1-8
                            p 叶尊发

