doctype html
html
    head
        meta(charset='utf-8')
        title 葉の小さい花の仕事部屋
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='./javascripts/jquery-3.2.1.min.js')
        script(src='./javascripts/index01.js')
    body
        .wrap
            header.header
               .header_left
                   img(src='./images/个人logo03.PNG')
               .world
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart
                    .box
                        .plane1
                            .heart
                        .plane2
                            .heart

               .header_right
                    .number
                       img(src='./images/number.PNG')
                    ul
                         a(href='#')
                           li 首页
                         a(href='personal_blog')
                           li 我的博客
                         a(href='news')
                           li 一点资讯
                         a(href='resume')
                           li  我的简历
                         a(href='myblog')
                           li  第一个作品
                         a(href='register')
                           li  会员注册
                         a(href='login')
                           li  会员登录

            .banner
                .banner_wrap
                     ul(class='banner_img clear_fix')
                        li.img
                            img(src='./images/背景图2.jpg')
                        li.img
                            img(src='./images/背景图3.jpg')
                        li.img
                            img(src='./images/背景图4.jpg')
                        li.img
                            img(src='./images/背景图6.jpg')
                     .left_button
                         img(src='images/左箭头.jpg')
                     .right_button
                         img(src='images/右箭头.jpg')

            .content
                .content_one
                    img(src='images/图标/1.png')
                    img(src='images/图标/3.png')
                    img(src='images/图标/5.png')
                    img(src='images/图标/7.png')
                    img(src='images/图标/9.png')
                    img.white_img(src='images/图标/2.png')
                    img.white_img(src='images/图标/4.png')
                    img.white_img(src='images/图标/6.png')
                    img.white_img(src='images/图标/8.png')
                    img.white_img(src='images/图标/10.png')
                .content_two
                    .content_header
                        img.logo('images/个人logo 02.PNG')
                        div
                            span 炊烟起了，我在门口等你
                            span 你经过我身旁，像鹿穿过花岗，风吹开一支扶桑，春意那么凉
                        div
                            span 沈从文说,我行过许多地方的桥，看过许多次数的云，喝过许多种类的酒，却只爱过一个正当最好年龄的人。
                            span 原来，最美年华里的邂逅，是情不知所起一往而深的最好注解与描摹
                    .mid
                        img(src='images/日本4.jpg')
                        img(src='images/日本2.jpg')
                        img(src='images/日本5.jpg')
                        img(src='images/日本2.jpg')
                        img(src='images/日本4.jpg')
                        img.bottom_img(src='images/日本2.jpg')
                        img.bottom_img(src='images/日本5.jpg')
                        img.bottom_img(src='images/日本4.jpg')
                        img.bottom_img(src='images/日本5.jpg')
                        img.bottom_img(src='images/日本2.jpg')

            .foot
               .footer_wrap
                   div
                       img(src='images/二维码.jpg')
                       .footer_text
                            p 江西农业大学
                            p 软件学院
                            p copyright @
                            p 2019-1-8
                            p 叶尊发

