doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 叶小花的blog
        link(rel='stylesheet', href='stylesheets/myblog.css')
        link(rel='stylesheet', href='stylesheets/reset.css')
        script(rel='javascript', src='javascripts/myblog.js')
        link(rel='icon', href='/images/icon02.png')
    body
        .wrap
            header.header
                nav
                    ul
                        li.logo
                            a(href='home') 叶叶小小花
                        li
                            a(href='#')  侧栏菜单
                        li
                            a(href='#')  天页
                        li
                            a(href='#')  地页
                        li
                            a(href='home')  首页
                .banner
                    .inner
                        .line
                        h1 叶小花
                        .line
                        p E-mail:619489025@qq.com
                        p 江西农业大学软件学院
                        p 前端学习
                        a(href='personal_blog')
                           button 点点我
                        .more 更多
            .content
                section.part_one
                    .wraper
                        h1 春花秋月何时了
                        .first_title love a flower, you will water it every day.
                        .line
                        p
                            | There's a difference between "love" and "like". If you like a flower you will pick it, but if you
                    .icon
                        span.item
                            img(src='images/图标1.PNG', alt='')
                        span.item
                            img(src='images/图标2.PNG', alt='')
                        span.item
                            img(src='images/图标3.PNG', alt='')
                section.part_two
                    .first.clear_fix
                        .first_left
                            img(src='images/pic1.jpg', alt='')
                        .first_text
                            h2 思念是一种病
                            .first_title 病入膏肓
                            p 那一年南国之南，你如灼目之痒。最是那一低头的温柔，恰似水莲花不胜凉风
                    .first.clear_fix
                        .first_text
                            h2 思念是一种病
                            .first_title 病入膏肓
                            p 那一年南国之南，你如灼目之痒。最是那一低头的温柔，恰似水莲花不胜凉风
                        .first_left
                            img(src='images/pic2.jpg', alt='')
                    .first.clear_fix
                        .first_left
                            img(src='images/pic2.jpg', alt='')
                        .first_text
                            h2 思念是一种病
                            .first_title 病入膏肓
                            p 那一年南国之南，你如灼目之痒。最是那一低头的温柔，恰似水莲花不胜凉风
                section.part_three
                    .three_wrap
                        .three_text
                            h2 相信未来
                            .line
                            div
                                | The future belongs to those who believe in the beauty of their dreams. 未来属于那些相信梦想之美的人
                        .card_group.clear_fix
                            .card
                                h2 believe future
                                p2
                                    | A rainbow wouldn't be a rainbow if it lost one of its colors. Don't lose anything about you. You're beautiful in your way. 若缺了一色，彩虹也不足称其为彩虹。有关自己的一丁儿点都不要舍去。你自有你的美丽。
                            .card
                                h2 believe future
                                p2
                                    | A rainbow wouldn't be a rainbow if it lost one of its colors. Don't lose anything about you. You're beautiful in your way. 若缺了一色，彩虹也不足称其为彩虹。有关自己的一丁儿点都不要舍去。你自有你的美丽。
                        .card_group.clear_fix
                            .card
                                h2 believe future
                                p2
                                    | A rainbow wouldn't be a rainbow if it lost one of its colors. Don't lose anything about you. You're beautiful in your way. 若缺了一色，彩虹也不足称其为彩虹。有关自己的一丁儿点都不要舍去。你自有你的美丽。
                            .card
                                h2 believe future
                                p2
                                    | A rainbow wouldn't be a rainbow if it lost one of its colors. Don't lose anything about you. You're beautiful in your way. 若缺了一色，彩虹也不足称其为彩虹。有关自己的一丁儿点都不要舍去。你自有你的美丽。
                        .card_group.clear_fix
                            .card
                                h2 believe future
                                p2
                                    | A rainbow wouldn't be a rainbow if it lost one of its colors. Don't lose anything about you. You're beautiful in your way. 若缺了一色，彩虹也不足称其为彩虹。有关自己的一丁儿点都不要舍去。你自有你的美丽。
                            .card
                                h2 believe future
                                p2
                                    | A rainbow wouldn't be a rainbow if it lost one of its colors. Don't lose anything about you. You're beautiful in your way. 若缺了一色，彩虹也不足称其为彩虹。有关自己的一丁儿点都不要舍去。你自有你的美丽。
            .footer
                ul.share_group
                    li 星期一
                    li 星期二
                    li 星期三
                    li 星期四
                    li 星期五
                div @叶尊发2019-1-4
            div#icon 回顶