doctype html
head
    meta(charset='UTF-8')
    title 一点资讯
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/stylesheets/news.css')
    link(rel='stylesheet' href='/stylesheets/news_font.css')
.wrap
    header.header
        .header_top
            ul.header_right.clear-fix
                li
                    a(href='#') 品牌介绍
                li
                    a(href='#') 侵权投诉
                    span
                li
                    a(href='#') 代理合作
                    span
                li
                    a(href='#') 校园大使
                    span
        .header_search
            .search_left
                .logo
                .icon_logo
                input(type='text' placeholder='大家都在搜')
                button#btn 搜索
            .search_right
                ul.clear_fix
                    li.login_button
                        a(href='#')
                            button 登录
                    li
                        a(href='home') 我的工作室
                        span
                    li
                        a(href='myblog') 我的博客
                        span
        .header_nav
            ul.clear_fix
                li
                    a.active(href='#') 首页
                li
                    a(href='#') 要闻
                li
                    a(href='#') 一点号
                li
                    a(href='#') 视频
                li
                    a(href='#') 段子
                li
                    a(href='#') 汽车
                li
                    a(href='#') 社会
                li
                    a(href='#') 娱乐
                li
                    a(href='#') 军事
                li
                    a(href='#') 体育
                li
                    a(href='#') NBA
                li
                    a(href='#') 财经
                li#down
                    a(href='#')
                        img(src='images/news_img/down.png')
            .list
                ul.list_down.clear_fix
                    li
                        a(href='#') &#x9996;&#x9875;
                    li
                        a(href='#') &#x8981;&#x95FB;
                    li
                        a(href='#') &#x4E00;&#x70B9;&#x53F7;
                    li
                        a(href='#') &#x89C6;&#x9891;
                    li
                        a(href='#') &#x6BB5;&#x5B50;
                    li
                        a(href='#') &#x6C7D;&#x8F66;
                    li
                        a(href='#') &#x793E;&#x4F1A;
                    li
                        a(href='#') &#x5A31;&#x4E50;
                    li
                        a(href='#') &#x519B;&#x4E8B;
                    li
                        a(href='#') &#x4F53;&#x80B2;
                    li
                        a(href='#') NBA
                    li
                        a(href='#') &#x8D22;&#x7ECF;
                    li
                        a(href='#') &#x79D1;&#x6280;
                    li
                        a(href='#') &#x6570;&#x7801;
                    li
                        a(href='#') &#x7F8E;&#x56FE;
                    li
                        a(href='#') &#x5065;&#x5EB7;
                    li
                        a(href='#') &#x65F6;&#x5C1A;
                    li
                        a(href='#') &#x641E;&#x7B11;
                    li
                        a(href='#') &#x65C5;&#x6E38;
    #wraper
        .content.clear_fix
            // 左边区域内容 一列
            .content_left
                .left_top
                    img(src='images/news_img/1.jpg' alt='')
                    p &#x5C0F;&#x4F19;&#x76F4;&#x5347;&#x673A;&#x8FCE;&#x5A36;&#x65B0;&#x5A18;&#xFF0C;&#x771F;&#x523A;&#x6FC0;
                .left_bottom
                    ul
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/2.jpeg' alt='')
                                .bottom_right
                                    p &#x91CD;&#x4EA4;&#x6613;&#x91CF;&#x7EA7;&#x5927;&#xFF01;&#x524D;&#x706B;&#x7BAD;16+13&#x7B2C;1&#x4E2D;&#x950B;&#x6295;&#x5954;&#x8A79;&#x7687;&#xFF1F;&#x9A91;&#x58EB;&#x7529;&#x4E24;&#x5927;&#x6BD2;&#x7624;&#x6362;&#x4ED6;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/11.jpeg' alt='')
                                .bottom_right
                                    p 特朗普上任内以来美国首次批准中企收购美国公司
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/12.jpeg' alt='')
                                .bottom_right
                                    p 48&#x5C81;&#x505A;9&#x6B21;&#x8BD5;&#x7BA1;&#xFF0C;&#x624E;1000&#x591A;&#x9488;&#xFF0C;&#x751F;&#x4E2A;&#x5973;&#x513F;&#x957F;&#x5F97;&#x4E00;&#x8A00;&#x96BE;&#x5C3D;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/13.jpeg' alt='')
                                .bottom_right
                                    p 25&#x5C81;&#x5973;&#x5B69;&#x81EA;&#x79F0;&#x662F;&#x4FAF;&#x8000;&#x534E;&#x5973;&#x53CB;&#xFF0C;&#x51C6;&#x5907;&#x660E;&#x5E74;&#x548C;&#x4ED6;&#x7ED3;&#x5A5A;&#x751F;&#x5B69;&#x5B50;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/14.jpeg' alt='')
                                .bottom_right
                                    p &#x91CD;&#x4EA4;&#x6613;&#x91CF;&#x7EA7;&#x5927;&#xFF01;&#x524D;&#x706B;&#x7BAD;16+13&#x7B2C;1&#x4E2D;&#x950B;&#x6295;&#x5954;&#x8A79;&#x7687;&#xFF1F;&#x9A91;&#x58EB;&#x7529;&#x4E24;&#x5927;&#x6BD2;&#x7624;&#x6362;&#x4ED6;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/2.jpeg' alt='')
                                .bottom_right
                                    p &#x91CD;&#x4EA4;&#x6613;&#x91CF;&#x7EA7;&#x5927;&#xFF01;&#x524D;&#x706B;&#x7BAD;16+13&#x7B2C;1&#x4E2D;&#x950B;&#x6295;&#x5954;&#x8A79;&#x7687;&#xFF1F;&#x9A91;&#x58EB;&#x7529;&#x4E24;&#x5927;&#x6BD2;&#x7624;&#x6362;&#x4ED6;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/2.jpeg' alt='')
                                .bottom_right
                                    p &#x91CD;&#x4EA4;&#x6613;&#x91CF;&#x7EA7;&#x5927;&#xFF01;&#x524D;&#x706B;&#x7BAD;16+13&#x7B2C;1&#x4E2D;&#x950B;&#x6295;&#x5954;&#x8A79;&#x7687;&#xFF1F;&#x9A91;&#x58EB;&#x7529;&#x4E24;&#x5927;&#x6BD2;&#x7624;&#x6362;&#x4ED6;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/11.jpeg' alt='')
                                .bottom_right
                                    p &#x7279;&#x6717;&#x666E;&#x4E0A;&#x4EFB;&#x5185;&#x4EE5;&#x6765;&#x7F8E;&#x56FD;&#x9996;&#x6B21;&#x6279;&#x51C6;&#x4E2D;&#x4F01;&#x6536;&#x8D2D;&#x7F8E;&#x56FD;&#x516C;&#x53F8;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/12.jpeg' alt='')
                                .bottom_right
                                    p 48&#x5C81;&#x505A;9&#x6B21;&#x8BD5;&#x7BA1;&#xFF0C;&#x624E;1000&#x591A;&#x9488;&#xFF0C;&#x751F;&#x4E2A;&#x5973;&#x513F;&#x957F;&#x5F97;&#x4E00;&#x8A00;&#x96BE;&#x5C3D;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/13.jpeg' alt='')
                                .bottom_right
                                    p 25&#x5C81;&#x5973;&#x5B69;&#x81EA;&#x79F0;&#x662F;&#x4FAF;&#x8000;&#x534E;&#x5973;&#x53CB;&#xFF0C;&#x51C6;&#x5907;&#x660E;&#x5E74;&#x548C;&#x4ED6;&#x7ED3;&#x5A5A;&#x751F;&#x5B69;&#x5B50;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/14.jpeg' alt='')
                                .bottom_right
                                    p &#x91CD;&#x4EA4;&#x6613;&#x91CF;&#x7EA7;&#x5927;&#xFF01;&#x524D;&#x706B;&#x7BAD;16+13&#x7B2C;1&#x4E2D;&#x950B;&#x6295;&#x5954;&#x8A79;&#x7687;&#xFF1F;&#x9A91;&#x58EB;&#x7529;&#x4E24;&#x5927;&#x6BD2;&#x7624;&#x6362;&#x4ED6;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
                        li.clear_fix
                            a(href='#')
                                .bottom_left
                                    img(src='images/news_img/2.jpeg' alt='')
                                .bottom_right
                                    p &#x91CD;&#x4EA4;&#x6613;&#x91CF;&#x7EA7;&#x5927;&#xFF01;&#x524D;&#x706B;&#x7BAD;16+13&#x7B2C;1&#x4E2D;&#x950B;&#x6295;&#x5954;&#x8A79;&#x7687;&#xFF1F;&#x9A91;&#x58EB;&#x7529;&#x4E24;&#x5927;&#x6BD2;&#x7624;&#x6362;&#x4ED6;
                                    .clear_fix
                                        span
                                            img.user_icon(src='images/news_img/little.jpg' alt='')
                                        span &#x6BDB;&#x7F57;&#x804A;&#x7403;
                                        span 144&#x8BC4;
                                        span &#x521A;&#x521A;
                                        span.close X
            // 右边内容一列
            .content_right.clear_fix
                .right_top
                    ul
                        li.clear_fix
                            .left_icon
                                img(src='images/news_img/3.jpeg' alt='')
                                span.icon_v
                            .right_text
                                p &#x6211;&#x662F;&#x75AF;&#x4E86;&#x624D;&#x53BB;&#x4F60;&#x7684;&#x57CE;&#x5E02;&#xFF0C;&#x7136;&#x540E;&#x54ED;&#x7740;&#x56DE;&#x6765; | 24&#x4E2A;&#x6CA1;&#x6709;&#x4F60;&#x7684;&#x57CE;&#x5E02;&#x6545;&#x4E8B;
                                span &#x65B0;&#x4E16;&#x76F8;
                                span 5&#x5C0F;&#x65F6;&#x524D;
                        li.clear_fix
                            .left_icon
                                img(src='images/news_img/4.jpeg' alt='')
                                span.icon_v
                            .right_text
                                p &#x5434;&#x4EA6;&#x51E1;&#x4E0D;&#x4E3A;&#x4EBA;&#x77E5;&#x7684;&#x7279;&#x522B;&#x624D;&#x827A;&#x5C45;&#x7136;&#x662F;&#x9B54;&#x672F;?
                                span QG&#x5A31;&#x4E50;
                                span &#x521A;&#x521A;
                        li.clear_fix
                            .left_icon
                                img(src='images/news_img/5.jpeg' alt='')
                                span.icon_v
                            .right_text
                                p &#x56FD;&#x5916;&#x7684;&ldquo;&#x7CD6;&#x846B;&#x82A6;&rdquo;&#x3001;&ldquo;&#x714E;&#x997C;&#x9983;&#x5B50;&rdquo;&#x90FD;&#x957F;&#x5565;&#x6837;&#xFF1F;
                                span &#x679C;&#x58F3;&#x7F51;
                                span &#x4E00;&#x5206;&#x949F;&#x524D;
                        li.clear_fix
                            .left_icon
                                img(src='images/news_img/6.jpeg' alt='')
                                span.icon_v
                            .right_text
                                p &#x6211;&#x662F;&#x75AF;&#x4E86;&#x624D;&#x53BB;&#x4F60;&#x7684;&#x57CE;&#x5E02;&#xFF0C;&#x7136;&#x540E;&#x54ED;&#x7740;&#x56DE;&#x6765; | 24&#x4E2A;&#x6CA1;&#x6709;&#x4F60;&#x7684;&#x57CE;&#x5E02;&#x6545;&#x4E8B;
                                span &#x65B0;&#x4E16;&#x76F8;
                                span &#x6628;&#x5929;
                .content_mid
                    h4 &#x70ED;&#x6587;&#x6392;&#x884C;
                    ul
                        li
                            a(href='#')
                                .icon.icon1
                                p &#x65B0;&#x4EAC;&#x62A5;&#xFF1A;&quot;&#x4F3A;&#x5019;&#x8001;&#x5E08;&#x5E94;&#x4E0D;&#x5E94;&#x5F53;&quot;&#x662F;&#x51B7;&#x8840;&#x65E0;&#x804A;&#x7684;&#x4F2A;&#x95EE;&#x9898;
                        li
                            a(href='#')
                                .icon.icon2
                                p &#x91CD;&#x5E86;&#x5B98;&#x5A92;&#x518D;&#x6279;&quot;&#x5B59;&#x653F;&#x624D;&#x7684;&#x95EE;&#x9898;&quot; &#x8FD9;&#x6B21;&#x70B9;&#x51FA;&#x5177;&#x4F53;&#x4E8B;&#x60C5;
                        li
                            a(href='#')
                                .icon.icon3
                                p &#x65B0;&#x4EAC;&#x62A5;&#xFF1A;&quot;&#x4F3A;&#x5019;&#x8001;&#x5E08;&#x5E94;&#x4E0D;&#x5E94;&#x5F53;&quot;&#x662F;&#x51B7;&#x8840;&#x65E0;&#x804A;&#x7684;&#x4F2A;&#x95EE;&#x9898;
                        li
                            a(href='#')
                                .icon.icon4
                                p &#x65B0;&#x4EAC;&#x62A5;&#xFF1A;&quot;&#x4F3A;&#x5019;&#x8001;&#x5E08;&#x5E94;&#x4E0D;&#x5E94;&#x5F53;&quot;&#x662F;&#x51B7;&#x8840;&#x65E0;&#x804A;&#x7684;&#x4F2A;&#x95EE;&#x9898;
                        li
                            a(href='#')
                                .icon.icon5
                                p &#x65B0;&#x4EAC;&#x62A5;&#xFF1A;&quot;&#x4F3A;&#x5019;&#x8001;&#x5E08;&#x5E94;&#x4E0D;&#x5E94;&#x5F53;&quot;&#x662F;&#x51B7;&#x8840;&#x65E0;&#x804A;&#x7684;&#x4F2A;&#x95EE;&#x9898;
                .content_mid
                    h4 &#x70ED;&#x95E8;&#x89C6;&#x9891;
                    ul
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/7.jpeg' alt='')
                            .detial_text
                                p &#x5C0F;&#x5077;&#x8FDB;&#x95E8;&#x540E;&#x9047;&#x5230;&#x8FD9;&#x6837;&#x7684;&#x5973;&#x4E3B;&#x4EBA;&#xFF0C;&#x4EC0;&#x4E48;&#x90FD;&#x6CA1;&#x5077;&#x5230;&#x4E5F;&#x503C;&#x4E86;
                                span 214&#x8BC4;&#x8BBA;
                                span 2018.1.20
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/8.jpeg' alt='')
                            .detial_text
                                p &#x5BB6;&#x91CC;&#x6709;&#x7535;&#x52A8;&#x8F66;&#x7684;&#x6CE8;&#x610F;&#x4E86;&#xFF1A;&#x51E0;&#x5143;&#x94B1;&#x8BA9;&#x4F60;&#x5341;&#x5E74;&#x4E0D;&#x7528;&#x66F4;&#x6362;&#x65B0;&#x7535;&#x74F6;
                                span 214&#x8BC4;&#x8BBA;
                                span 2018.1.20
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/9.jpeg' alt='')
                            .detial_text
                                p &#x53F2;&#x4E0A;&#x6700;&#x8D31;&#x7684;&#x5973;&#x4EBA;&#xFF0C;&#x8FD9;&#x79CD;&#x4EBA;&#x600E;&#x4E48;&#x6CA1;&#x88AB;&#x6253;&#x6B7B;
                                span 214&#x8BC4;&#x8BBA;
                                span 2018.1.20
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/10.jpeg' alt='')
                            .detial_text
                                p 牌穿过钞票, 钞票完好无损! 原来这个魔术这么简单
                                span 114评论
                                span 2018.1.10
                .content_mid
                    h4 热文排行<
                    ul
                        li
                            a(href='#')
                                .icon.icon1
                                p 新京报："伺候老师应不应当"是冷血无聊的伪问题
                        li
                            a(href='#')
                                .icon.icon2
                                p 新京报："伺候老师应不应当"是冷血无聊的伪问题
                        li
                            a(href='#')
                                .icon.icon3
                                p 新京报："伺候老师应不应当"是冷血无聊的伪问题
                        li
                            a(href='#')
                                .icon.icon4
                                p 新京报："伺候老师应不应当"是冷血无聊的伪问题
                        li
                            a(href='#')
                                .icon.icon5
                                p 新京报："伺候老师应不应当"是冷血无聊的伪问题
                    h4 热门视频
                    ul
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/7.jpeg' alt='')
                            .detial_text
                                p 小偷进门后遇到这样的女主人，什么都没偷到也值了
                                span 214评论
                                span 2018.1.20
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/8.jpeg' alt='')
                            .detial_text
                                p 家里有电动车的注意了：几元钱让你十年不用更换新电瓶
                                span 214评论
                                span 2018.1.20
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/9.jpeg' alt='')
                            .detial_text
                                p 史上最贱的女人，这种人怎么没被打死
                                span 214评论
                                span 2018.1.20
                        li.clear_fix
                            .left_img
                                img(src='images/news_img/10.jpeg' alt='')
                            .detial_text
                                p 牌穿过钞票, 钞票完好无损! 原来这个魔术这么简单
                                span 114评论
                                span 2018.1.10
    .fix_icon
        .first_icon
            img(src='images/news_img/rotate.png' alt='')
        .second_icon
            img(src='images/news_img/二维码.png' alt='')
        .three_icon
            img(src='images/news_img/向上.png' alt='')
    a(href='news.html' style='margin:50px 0 50px 750px;display: block;') 设计链接
.mask
.loginIn
    .login_Input
        .login_close
            img(src='images/news_img/close.png' alt='')
        .login_header
            img(src='images/news_img/logo.png' alt='')
            h1 一點資訊
        .login_content
            input(type='text' placeholder='手機號')
            input.tel(type='text' placeholder='驗證碼')
            img.validate(src='images/news_img/validate.png' alt='')
            input.tel_validate(type='text' placeholder='手機驗證碼')
            input.send(type='text' placeholder='发送验证码')
        .login_text
            .img_input
                img.img_close(src='images/news_img/img_text.png' alt='')
            .degree
                span 我已閱讀并同意用戶协议
        .login_btn 登录
        p 账号密码登录
            span.line
            span 第三方平台登录
            span.line
        .login_footer
            img(src='images/news_img/新浪.png' alt='')
            img(src='images/news_img/QQ.png' alt='')
            img(src='images/news_img/小米.png' alt='')
script(src='./javascripts/jquery-3.2.1.min.js')
script(src='./javascripts/news_show.js')
