.header{
    height: 120px;
    width: 1500px;
    margin: 0 auto;
}
.header_left{
    float: left;
    line-height: 120px;
}
.header_right{
    float: right;
    line-height: 325px;
    position: relative;
}
.header_right>div{
    position: absolute;
    top:-51px;
    right: 235px;
}
.header_right ul{
    margin-top: 52px;
}
.header_right ul a{
    float: left;
    line-height: 10px;
}
.header_right .number{

    height: 10px;
}
.header_right ul a li{
    border-right: 1px solid #000000;
    height:13px;
    font-size:15px;
    padding:0 25px ;
    font-weight: bold;
    color: #666666;
}
.header_right ul a li:hover{
    color: #000;
}
.header_right ul a:last-child li{
    border:none ;
}
.banner{
    min-width: 1080px;
}
.banner_wrap{
    height: 500px;
    width: 100%;
    overflow: hidden;
    white-space:normal;
    position: relative;
}
.banner_warp .banner_img{
    height: 100%;
    margin: 0 auto;
    width:200%;
    position: relative;
}
.banner_wrap .banner_img li{
    float: left;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    position: absolute;
}
.clear_fix：after{
    content:"" ;
    display: block;
    clear: both;
}
.banner_img .img{
    width: 100%;
    height: 100%;
}
.left_button{
    cursor: pointer;
    opacity: 0.2;
    height: 71px;
    width: 71px;
    top:50%;
    left:65px;
    position: absolute;
}
.left_button img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.right_button{
    cursor: pointer;
    opacity: 0.2;
    height: 71px;
    width: 71px;
    top:50%;
    right:65px;
    position: absolute;
}
.right_button img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.content_one{
    max-width: 1046px;
    margin: 0 auto;
    height: 260px;

}
.content_one img{
    padding: 60px 10px;
    width:182px ;
    height: 130px;
}
.content_one .white_img{
    position:relative;
    bottom: 250px;
    opacity: 0;
}
.content_one .white_img:hover{
    opacity: 1;
}
.content_two{
    width: 100%;
    background: #dcdcdc;
    text-align: center;
    /*height:609px;*/
    background: url("../images/图标/壁纸2.jpg") ;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.content_header .logo{
    opacity: 0.3;
}
.content_header{
    width: 1040px;
    margin: 0 auto;
}
.content_header div:nth-child(2){
    margin-top: 20px;
    margin-bottom:5px ;
}
.content_header div:nth-child(3){
    margin-bottom:  40px;
}
.content_header div span{
    color: #666;
    font-size: 13px;
}
.mid{
    max-width: 1060px;
    margin: 0 auto;
    height:260px;
}
.mid img{
    padding:5px 5px 40px 5px ;
}
.mid .bottom_img{
    position:relative;
    bottom: 265px;
}
.mid .bottom_img:hover{
    opacity: 0;
}
.content_two .english_passage p{
    color: #666;
    font-size: 13px;
}
.footer{
    background:#333;
    text-align:center;
    opacity: 0.5;
}
.footer_wrap img{
    width:125px;
    float:left;
    height: 125px;
}
.footer_wrap{
    width: 247px;
    margin: 0 auto;
    padding: 26px 0 32px 0;
}
.footer_text p{
    font-family: SimSun;
    font-size: 20px;
    color: #999;
    text-align: center;
}
.footer_text:last-child{
    text-align: right;
    font-size: 20px;
}
.footer_text span:nth-child(4){
    margin: 0 10px;
}
.world {
    position: absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    /*bottom:0;0*/
    width:800px;
    height:200px;
}
a {
    position: relative;
    letter-spacing: 2px;
    font-family: "verdana";
    font-size: 12px;
    color: #F48FB1;
    text-decoration: none;
}
/* BASIC CUBE CREATION */
/* BASIC CUBE CREATION */
/* BASIC CUBE CREATION */

.box {
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100px;
    height: 100px;
    animation: rotate 5s ease-in-out infinite;
    transform-style: preserve-3d;
}
.box:nth-of-type(1) {
    animation-delay:-5s;
    left:-600px;
}
.box:nth-of-type(2) {
    animation-delay:-4s;
    left:-300px;
}
.box:nth-of-type(3) {
    animation-delay:-3s;
    left:0px;
}
.box:nth-of-type(4) {
    animation-delay:-2s;
    left:300px;
}
.box:nth-of-type(5) {
    animation-delay:-1s;
    left:600px;
}
.plane1, .plane2 {
    position: absolute;
    opacity:0.8;
}
.plane2 {
    transform: rotateY(90deg);
}
.heart {
    background-color: pink;
    height: 50px;
    transform: rotate(-45deg);
    width: 50px;
}
.heart:before {
    content: "";
    background-color: pink;
    border-radius: 100%;
    height: 50px;
    position: absolute;
    width: 50px;
    top:-25px;
}
.heart:after {
    content: "";
    background-color: pink;
    border-radius: 100%;
    height: 50px;
    position: absolute;
    width: 50px;
    top:0px;
    left:25px;
}

/* Rotation animation to actually see the cube */

@keyframes rotate {
    0% {
        transform: rotateY(0deg) rotateZ(25deg) translateY(50px);
    }
    50% {
        transform: rotateY(270deg) rotateZ(25deg) translateY(-50px);
    }
    100% {
        transform: rotateY(360deg) rotateZ(25deg) translateY(50px);
    }
}



