a {
    color: #666666;
    text-decoration: none;
}
body{
    background: url("../images/背景图6.jpg") no-repeat center top;
    background-size: cover;
    width: 300vw;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.75;

}
.main {
    margin: 0 auto;
    padding: 15px 25px 0 25px;
    width: 350px;
    height: 265px;
    background: #f5f8ff;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
    border-radius: 40px;

}

.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}


.title:hover{
    cursor: default	;
}

.title-msg:hover{
    cursor: default	;
}

.title-msg span {
    font-size: 12px;
    color: #707472;
}

.input-content {
    width: 100%;
    height: 120px;
}

.input-content input {
    width: 330px;
    height: 40px;
    border: 1px solid #dad9d6;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.input-content1 input {
    width: 348px;
    height: 40px;
    border: 1px solid #dad9d6;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}


.enter-btn {
    width: 350px;
    height: 40px;
    color: #fff;
    background: rgba(222, 110, 97, 0.96);
    line-height: 40px;
    text-align: center;
    border: 0px;
    border-radius: 20px;
    outline: none;
}


.foot{
    width: 100%;
    height: auto;
    color: #9b9c98;
    font-size: 12px;
    margin-top: 20px;
}

.enter-btn:hover {
    cursor:pointer;
    background: #c93537;
}

.foot div:hover {
    cursor:pointer;
    color: #484847;
    font-weight: 600;
}

.left{
    float: left;
}
.right{
    float: right;
}
